azure-storage-blob
fastapi
ffmpeg
imageio
moviepy
nemo_text_processing
nest-asyncio
numpy
pandas
matplotlib
datasets
transformers
pydantic
python-dotenv
uvicorn
scipy
torch
SentencePiece
duckduckgo_search